<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Get Detail</title>
</head>
<body>
    <section class="main">
    <h1>Here is your detailed post!!</h1>
    <h2><%=post.id%></h2>
    <h2>username: @<%=post.title%></h2>
    <p class="content">content: <%=post.content%></p>
    </section>
</body>
</html>